<form action='/recipes/add_recipe' method='post'>
  <label for='recipe_title'>Enter a title for a recipe:</label>
  <input type='text' name='recipe_title' id='recipe_title'>
  <br>

  <label for='recipe_instructions'>Enter instructions for your recipe:</label>
  <input type="text" rows='20' cols='50' name='recipe_instructions' id='recipe_instructions'>
  <button type='submit'>Add recipe</button>
</form>
