<% content_for :current_menu_thingy do %>
  Categories
<% end %>

<% if @categories.any? %>
  <% @categories.each do |category| %>
    <ul>
      <li><a href="/categories/<%= category.id %>"><%= category.title %></a></li>
    </ul>
  <% end %>
<% else %>
  <p>You need to add some categories.</p>
<% end %>

<h3>Add Categories to Organize Your Recipes</h3>

<form action="/categories" method="post">
  <label for="category_title">Category name:</label>
  <input type="text" name="category_title" id="category_title">

  <button type="submit">Add Category</button>

</form>

<a href="/">Return to Main Page</a>
