<h3>Add Categories to Organize Your Recipes</h3>

<form action="/categories/add_category" method="post">
<<<<<<< HEAD
  <label for="category_title">Category name:</label>
  <input type="text" name="category_title" id="category_title">
=======
  <label for="category">Category name:</label>
  <input type="text" name="category" id="category">
>>>>>>> 4b5ac0c088cffdbc1def938ce6b6a8935ffa8a24

  <button type="submit">Add Category</button>

</form>

<a href="/">Return to Main Page</a>
