<h3>Add Categories to Organize Your Recipes</h3>

<form action="/categories/add_category" method="post">
  <label for="category_title">Category name:</label>
  <input type="text" name="category_title" id="category_title">

  <button type="submit">Add Category</button>

</form>

<a href="/">Return to Main Page</a>
