<% if @categories.any? %>
  <% @categories.each do |category| %>
    <ul>
      <li><a href="/categories/<%= category.id %>"><%= category.title %></a></li>
    </ul>
  <% end %>
<% else %>
  <p>You need to add some categories.</p>
<% end %>
