<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<<<<<<< HEAD
    <link rel="stylesheet" href="/styles.css" type="text/css">
=======
>>>>>>> 4b5ac0c088cffdbc1def938ce6b6a8935ffa8a24
    <title>Recipe Thing</title>
  </head>
  <body>
    <div class="container">
<<<<<<< HEAD
      <h1>Recipe Box</h1>
=======
      <h3>Recipe Thing</h3>
>>>>>>> 4b5ac0c088cffdbc1def938ce6b6a8935ffa8a24
      <%= yield %>
    </div>
  </body>
</html>
